.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}
.modal {
  background: #fff;
  width: 80vw;
  max-width: 400px;
  padding: 2rem 1rem;
  text-align: center;
  border-radius: 10px;
}
.modal h2 {
  padding: 20px;
  border-bottom: 4px solid blue;
}
.summary {
  padding-top: 20px;
}
.each-details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 5px;
  padding-right: 10px;
}
.name-item {
  margin: 0 -50px 0 -10px;
}
.price-item {
  margin-right: -80px;
}
.count-item {
  margin-right: -30px;
}
.price {
  padding: 20px 0 20px 0;
  border-bottom: 4px solid blue;
}
.account {
  padding: 20px 0 20px 0;
}
.modal button {
  padding: 10px;
  cursor: pointer;
}
