.container {
  width: 100%;
  transition: 0.5s;
}
.heading-product h2 {
  font-weight: bold;
  font-size: 35px;
  padding: 20px;
  padding-top: 50px;
  text-align: center;
  width: 100%;
  color: #29099e;
}
.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  margin-top: 10px;
}
.list .item {
  text-align: center;
  background: #ced6d8;
  padding: 20px;
  box-shadow: 0 50px 50px #7a7c7c;
  letter-spacing: 1px;
}
.list .item img {
  width: 90%;
  border-radius: 10px;
}
.list .item .title {
  font-weight: 600;
  font-size: 20px;
}
.list .item button {
  width: 90%;
  padding: 12px;
  background: #470202;
  color: #fff;
  font-size: 14px;
  letter-spacing: 2px;
}
.item button:hover {
  color: #77f480;
  border-radius: 12px;
}
.list .item .adderBtn {
  width: 46%;
}
.list .item .plus {
  width: 17%;
}
.item .adderBtn:hover {
  color: #77f480;
  border-radius: 0px;
}
button:active,
button:focus {
  border-color: rgb(185, 8, 141);
}
@media screen and (max-width: 600px) {
  .list {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 20px;
  }
  .list .item {
    padding: 10px;
    box-shadow: 0 20px 20px #7a7c7c;
    letter-spacing: 2px;
  }
  .heading-product h2 {
    padding-top: 10px;
    font-size: 27px;
  }
}
