.content-read {
  margin-top: 50px;
  background-color: #01033f;
  padding: 30px;
  border-radius: 20px 20px 0 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.content-read h3 {
  color: rgb(218, 152, 152);
}
.about-us,
.contact-us {
  margin: 20px;
  line-height: 30px;
  color: #8f8f93;
}
.about-us p,
.contact-us p {
  text-align: justify;
  padding: 10px;
}
.content-read button {
  color: #f6f7f6;
  border-top: 2px solid #1b7af7;
  border-bottom: 2px solid #1b7af7;
  border-radius: 10px;
  padding-left: 10px;
}

footer {
  background-color: #0a0c47;
  color: #8f8f93;
  text-align: center;
  border-top: 1px solid #7c7c7e;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: 14px;
}
footer p {
  padding: 20px;
}

footer .developer {
  color: #9d8d9c;
}
footer .developer .devnum {
  color: #8dbe9d !important;
}
footer .developer .devreg {
  display: block;
}
.social {
  margin-bottom: -40px;
  margin-top: 40px;
  margin-left: 45%;
}
.social a {
  padding: 20px;
}
.follow {
  text-align: center;
  margin: 30px 0 -30px 0;
  font-size: 20px;
}
.last-social {
  padding-top: 20px;
  color: #8f8f93;
}
.last-social a {
  padding-right: 20px;
}
@media screen and (max-width: 600px) {
  .content-read {
    padding: 10px;
    border-radius: 10px 10px 0 0;
    grid-template-columns: repeat(1, 1fr);
  }
  .follow {
    font-size: 16px;
    padding: 0 10px 0 10px;
  }
  .social {
    margin-top: 30px;
    margin-left: 25%;
  }
  .about-us,
  .contact-us {
    line-height: 25px;
  }
  footer {
    border-top: 1px solid #7c7c7e;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 10px;
  }
  footer p {
    padding: 5px;
  }
  .last-social {
    display: none;
  }
}
